<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp1_Brena.Properties.Settings.DB_A5A76F_kevindev20ConnectionString"
            connectionString="Data Source=sql5047.site4now.net;Initial Catalog=DB_A5A76F_kevindev20;User ID=DB_A5A76F_kevindev20_admin ; Password=Developer20@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>